@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

$font:'Poppins', sans-serif;

$primarycolor: hsl(0, 100%, 74%);
$primarycolor2: hsl(154, 59%, 51%);

$accent: hsl(248, 32%, 49%);

$neutral: hsl(249, 10%, 26%);
$neutral2: hsl(246, 25%, 77%);
$neutral3: hsla(240, 10%, 56%, 0.192)

